#chats-screen{
    background-color: #abc1d1;
    height: 500vh;
    
}

#chats-screen .alt-header,
#chats-screen .status-bar{
    position: fixed;
    width: 100%;
    box-sizing: border-box;  
    background-color: #abc1d1;
    z-index: 2;
     
}

#chats-screen .alt-header{
    top: 10px;
    z-index: 1;
    
}
.main-chat{
    padding-top: 120px;    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chat__timestamp{
      background-color: #92a4b2;
    color: white;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 25px;
  }
  .message-row{
      padding-left: 25px;
      width: 100%;
      display: flex;
  }
  .message-row img{
    width: 50px;
    height: 50px;  
    border-radius: 50%;
    margin-right: 10px;
  }
.message__author{
    margin-bottom: 5px;
    display: block;
}
.message__bubble{
    background-color: white;
    padding: 13px;
    border-radius: 18px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__info{
    display: flex;
    align-items: flex-end;
}
.message__time,
.message__author{
    opacity: 0.8;
    font-size: 14px;
}