.icon-row {
    display: flex;
    justify-content: space-between;
    padding: 0px var(--horizontal-space);
    padding-bottom: 25px;
    
  }
.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.icon-row__icon i {
    font-size: 35px;
  }
.icon-row__icon span {
    margin-top: 15px;
  }
.user-icon{
  position: relative;
  left: 115px;
  
}
.fa-comment-alt{
  font-size: 35px;
}
.icon-row__2{
  display: flex;
  padding: 0px var(--horizontal-space);
  padding-top: 25px;
  justify-content: space-between;
}
